* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-image: url(../Images/todo1.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
  }
  nav {
    background-image: linear-gradient(
      to right,
      #ff8177 0%,
      #ff867a 0%,
      #ff8c7f 21%,
      #f99185 52%,
      #cf556c 78%,
      #b12a5b 100%
    );
  }
  .container {
    margin: 5%;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 0.8rem;
    max-height: 650px;
    overflow-y: auto;
  }
  .container h2 {
    color: #543b45;
  }
  #logout {
    transition: all 0.35s;
  }
  
  #logout:hover {
    color: #fff;
    background-color: #b12a5b;
    transition: 0.5s ease-in-out;
  }
  /* .table_body {
    max-height: 75% !important;
    overflow: auto !important;
  } */
  th {
    position: sticky;
    opacity: 1;
    top: 0px;
  }